
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="zh-CN">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <!-- favicons -->
    <link rel="apple-touch-icon" href="img/favicon-apple.png">
    <link rel="icon" href="/static/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Material design icons CSS -->
    <link rel="stylesheet" href="/static/vendor/materializeicon/material-icons.css">
    <!-- aniamte CSS -->
    <link rel="stylesheet" href="/static/vendor/animatecss/animate.css">
    <!-- swiper carousel CSS -->
    <link rel="stylesheet" href="/static/vendor/swiper/css/swiper.min.css">
    <!-- daterange CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap-daterangepicker-master/daterangepicker.css">
    <!-- footable CSS -->
    <link rel="stylesheet" href="/static/vendor/footable-bootstrap/css/footable.bootstrap.min.css">
    <!-- Bootstra tour CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap_tour/css/bootstrap-tour-standalone.css">
    <!-- jvector map CSS -->
    <link rel="stylesheet" href="/static/vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- app CSS -->
    <link id="theme" rel="stylesheet" href="/static/css/purplesidebar.css" type="text/css">
    <!-- 引入 echarts.js -->
    <script src="/js/echarts.common.min.js"></script>
    <script src="/js/echartsOne.js"></script>

    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <script src="/bower_components/highcharts/highstock.js"></script>
    <script src="/bower_components/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
	<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    
    <title>耘存科技 - Mobile</title>
</head>

<body class="fixed-header sidebar-right-close sidebar-left-close">
    <!-- page loader -->
    <div class="loader justify-content-center pink-gradient">
        <div class="align-self-center text-center">
            <div class="logo-img-loader">
                <img src="/static/img/loader-hole.png" alt="" class="logo-image">
                <img src="/static/img/loader-bg.png" alt="" class="logo-bg-image">
            </div>
            <h2 class="mt-3 font-weight-light">耘存<br><small>- 手机端 -</small></h2>
            <p class="mt-2 text-white"></p>
        </div>
    </div>
    <!-- page loader ends  -->
    <div class="wrapper">
        <!-- main header -->
        <!-- main header -->
        <header class="main-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-auto px-0">
                        <button class="btn pink-gradient btn-icon" id="left-menu"><i class="material-icons">widgets</i></button>
                        <a href="/" class="logo"><img src="/static/img/logo-icon.png" alt=""><span class="text-hide-xs"><b>耘存</b>科技<br><span class="small">- 手机端 -</span></span>
                        </a>
                        <form class="search-header">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col px-0 text-right">
                        <div class="dropdown d-inline-block">
                            <a class="btn header-color-secondary btn-icon dropdown-toggle caret-none" href="#" role="button" id="dropdownmessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">mail_outline</i>
                                <span class="status-number bg-danger text-white">9+</span>
                            </a>
                            <div class="dropdown-menu notification-dropdown align-center arrow-top pt-0" aria-labelledby="dropdownmessage">
                                <div class="arrow pink-gradient"></div>
                                <div class="pink-gradient py-3 text-center">
                                    <h5 class="mb-0">消息</h5>
                                    <p class="mb-0">最新消息</p>
                                </div>
                                <div class="media new">
                                    <figure class="avatar avatar-40">
                                        <img src="/static/img/user3.png" alt="Generic placeholder image">
                                    </figure>
                                    <div class="media-body">
                                        <h5 class="mt-0">消息1</h5>
                                        <p class="mb-2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                                        <a href="">Reply</a>
                                        <a href="" class="ml-2">View</a>
                                    </div>
                                </div>
                                <a href="#" class="media pink-gradient-active new">
                                    <figure class="avatar avatar-40">
                                        <img src="/static/img/user3.png" alt="Generic placeholder image">
                                    </figure>
                                    <div class="media-body">
                                        <h5 class="my-0">消息2</h5>
                                        <small class="text-muted d-block mb-2">2:05 am</small>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                                    </div>
                                </a>
                                <a href="#" class="media pink-gradient-active">
                                    <figure class="avatar avatar-40">
                                        <img src="/static/img/user2.png" alt="Generic placeholder image">
                                    </figure>
                                    <div class="media-body">
                                        <h5 class="mt-0">消息3<small class="text-muted float-right">4:05 am</small></h5>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown d-inline-block">
                            <a class="btn header-color-secondary dropdown-toggle username" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <figure class="userpic"><img src="/static/img/user1.png" alt=""></figure>
                                <h5 class="text-hide-xs">
                                    <small class="header-color-secondary"></small>
                                    <span class="header-color-primary"></span>
                                </h5>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="dropdownMenuLink">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <a href="profile.html">
                                            <figure class="avatar avatar-120 mx-auto my-3">
                                                <img src="/static/img/user1.png" alt="">
                                            </figure>
                                            <h5 class="card-title mb-2 header-color-primary">John McMohan</h5>
                                            <h6 class="card-subtitle mb-3 header-color-secondary">South Africa</h6>
                                        </a>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <button class="btn btn-sm pink-gradient border-0 mb-3">Edit</button>
                                    </div>
                                </div>
                                <a class="dropdown-item pink-gradient-active" href="javascript:void(0);" id="open-right-sidebar">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            Setting
                                        </div>
                                        <div class="col-auto">
                                            <div class="header-color-secondary ml-2"><i class="material-icons vm">settings</i></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item pink-gradient-active" href="javascript:void(0);">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            5458 <small class="header-color-secondary font-italic">Points Collected</small>
                                        </div>
                                        <div class="col-auto">
                                            <i class="header-color-secondary material-icons vm">local_play</i>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item pink-gradient-active" href="/signall">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            Logout
                                        </div>
                                        <div class="col-auto">
                                            <div class="text-danger ml-2"><i class="material-icons vm">exit_to_app</i></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main header ends -->
        <!-- sidebar left -->
        <div class="sidebar sidebar-left">
            <div class="container has-background-img">
                <figure class="background-img pink-gradient">
                    <img src="/static/img/singer-690117_640.jpg" alt="" class="">
                </figure>
                <div class="media w-100 my-3">
                    <figure class="avatar avatar-40 rounded-circle align-self-start ">
                        <label class="checkbox-user-check">
                            <input type="checkbox">
                            <i class="material-icons">check</i>
                        </label>
                        <img src="/static/img/user1.png" alt="Generic placeholder image">
                    </figure>
                    <div class="media-body mx-70">
                        <h5 class="time-title mb-0 text-white">名字/请登录</h5>
                        <p class="mb-0 text-truncate text-white">邮箱</p>
                    </div>
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">insert_chart_outlined</i> <span>Lotus Dashboard</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>区块链浏览器</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/power" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>算力浏览器</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/pool" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>矿池浏览器</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/poolIntroduce" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>矿池介绍</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/buyPower" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>购买算力介绍</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">filter_none</i> <span>登录/注册</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/signall" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>登录</span></a>
                            <a href="/registall" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>注册</span></a>
                            <a href="/forgetpassword" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>忘记密码</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">insert_emoticon</i> <span>我的</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/poweruser" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>钱包信息</span></a>
                            <a href="/pooluser" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>提交信息</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">description</i> <span>联系我们</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="form_credit_card.html" class="nav-link  pink-gradient-active"><i class="material-icons icon"></i> <span>公司信息</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="backdrop"></div>
        <!-- sidebar left ends -->
        <!-- content page title -->
        <div class="container-fluid bg-light-opac">
            <div class="row">
                <div class="container my-3 main-container">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="content-color-primary page-title">耘存科技矿工情况展示</h2>
                            <p class="content-color-secondary page-sub-title">打造新一代分布式存储网络</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content page title ends -->
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="content-color-primary mb-0">耘存科技 <span class="content-color-secondary mb-0 small" >在线矿工数量</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h1 class="mt-4" id="Number-miners"></h1>
                        <p class="small mb-0 content-color-secondary" id="nodeName"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card mb-4 fullscreen">
                    <div class="card-header">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="content-color-primary mb-0">挖到Fil <span class="small mb-1 text-success ">数量</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h1 class="mt-4"><span class="font-weight-light" id="money"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card mb-4 pink-gradient">
                    <div class="card-header">
                        <div class="media">
                            <div class="media-body">
                               
                                <h4 class="text-white mb-0">全网总算力</h4>
                                <div id="powerNetwork"></div>
                            </div>
                        </div>
                        <h3>
                            <div id="bingtu_1" data-aaa="2"></div>
                        </h3>
                         <!--第一个饼图-->
                        <div id="bingtu" style="width: 500px;height:500px;"></div>
                    </div>
                    <div class="card-body">
                        <canvas id="piecharts"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="card mb-4 fullscreen">
                    <div class="card-header">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="content-color-primary mb-0">算力增长情况</h4>
                                <p class="content-color-secondary mb-0">耘存科技算力24小时增长情况</p>

                                <div id="container" style="min-width:300px;height:400px"></div>
                            </div>
                            <a href="javascript:void(0);" class="icon-circle icon-30 content-color-secondary fullscreenbtn">
                                <i class="material-icons ">crop_free</i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas class="" id="linechartarea"></canvas>
                    </div>
                    <div class="card-footer border-top mt-2">
                        <div class="media">
                            <div class="media-body">
                                <h5 class="content-color-primary mb-0">耘存科技算力情况!</h5>
                                <p class="content-color-secondary mb-0 small"><span class="content-color-primary">12.00%</span> 24小时增长算力情况</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card mb-1">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <div class="media-body">
                                    <p class="content-color-secondary mb-0">耘存科技</p>
                                    <h4 class="content-color-primary mb-0">机器在线情况展示</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="font-weight-light">机器在线个数</h2>
                        <p class="content-color-secondary">10个</p>
                        <br>
                        <h3>
                            <div id="qxfl" data-index="1"></div>
                        </h3>
                        
                        <div id="main" style="width: 500px;height:500px;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title">算力地图<small>耘存map</small></h4>
                        </div>
                        <div class="card-body">
                            <div class="worldmap light" id="mapafricawrap"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="/static/js/jquery-3.2.1.min.js"></script>
            <script src="/static/js/popper.min.js"></script>
            <script src="http://cdn.bootstrapmb.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <!-- Cookie jquery file -->
            <script src="/static/vendor/cookie/jquery.cookie.js"></script>
            <!-- sparklines chart jquery file -->
            <script src="/static/vendor/sparklines/jquery.sparkline.min.js"></script>
            <!-- Circular progress gauge jquery file -->
            <script src="/static/vendor/circle-progress/circle-progress.min.js"></script>
            <!-- Swiper carousel jquery file -->
            <script src="/static/vendor/swiper/js/swiper.min.js"></script>
            <!-- Chart js jquery file -->
            <script src="/static/vendor/chartjs/Chart.bundle.min.js"></script>
            <script src="/static/vendor/chartjs/utils.js"></script>
            <script src="/static/vendor/chartjs/chart-js-data.js"></script>
            <!-- Footable jquery file -->
            <script src="/static/vendor/footable-bootstrap/js/footable.min.js"></script>
            <!-- datepicker jquery file -->
            <script src="/static/vendor/bootstrap-daterangepicker-master/moment.js"></script>
            <script src="/static/vendor/bootstrap-daterangepicker-master/daterangepicker.js"></script>
            <!-- Bootstrap tour jquery file -->
            <script src="/static/vendor/bootstrap_tour/js/bootstrap-tour-standalone.min.js"></script>
            <!-- jquery toast message file -->
            <script src="/static/vendor/jquery-toast-plugin-master/dist/jquery.toast.min.js"></script>
            <script src="/static/vendor/circle-progress/circle-progress.min.js"></script>
            <!-- Application main common jquery file -->
            <script src="/static/js/main.js"></script>
            <!-- jVector map jquery file -->
            <script src="/static/vendor/jquery-jvectormap/jquery-jvectormap.js"></script>
            <script src="/static/vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
            <script src="/static/vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
            <script src="/static/vendor/jquery-jvectormap/jquery-jvectormap-asia-mill.js"></script>
            <script src="/static/vendor/jquery-jvectormap/jquery-jvectormap-africa-mill.js"></script>
            <script src="/static/vendor/jquery-jvectormap/jquery-jvectormap-us-aea.js"></script>
            <script src="/static/vendor/jquery-jvectormap/jquery-jvectormap-in-mill.js"></script>
            <!-- page specific script -->
            <script src="/static/js/dashboard.js"></script>
            <!-- page specific script -->
            <!--饼图调用-->
            <script type="text/javascript">
                $(function(){
                    //在这就行
                    bingtu('#bingtu_1');
                }),
                $(function(){
                    //在这就行
                    qxfl('#qxfl');
                });
            </script>
            <!--饼图调用-->


            <script>
            //全网总算力
            $.ajax({
                type: "GET",
                url: "http://47.100.10.123:10080/lotus/lotus_message",
                data: '',
                dataType: "json",
                success: function (json) {
                    var i = 0;
                    var temp = 0;
                    for (i; json.networkStorage > 1024; i++) {
                        json.networkStorage = json.networkStorage / 1024.00;
                    }
                    temp = json.networkStorage;
                    switch (i) {
                        case 0: temp = temp + "B";
                            break;
                        case 1: temp = temp + "KB";
                            break;
                        case 2: temp = temp + "MB";
                            break;
                        case 3: temp = temp + "GB";
                            break;
                        case 4: temp = temp + "TB";
                            break;
                        case 5: temp = temp + "PB";
                            break;
                        case 6: temp = temp + "ZB";
                            break;
                    }

                    $("#powerNetwork").html(temp);
                }
            });    

            // 点击登录，检查登录成功与否
            function checkLogin(){
                $.ajax({
                    type:"GET",
                    url:"http://47.100.10.123:10080/user/user_regist",
                    data:{name:$("#inputEmail").val(),
                        password:$("#inputPassword").val()
                        },
                    success:function(data){
                    console.log(data);
                        if(data==''){
                            $("#shiBai").html(data);                    
                            console.log("222")
                        }else{
                            console.log("333")
                            $("#mssg").html(data);
                            $("#shiBai").html("");
                            window.location.href="/";//登录之后跳转到主页
                    }
                    }
                })
            }

            "use script";
            let res=0;
            let i=0;
            let nodeName=[];
            let money=0;
            //fil价格
        function get_data(){
            $.ajax({
                url:"http://47.100.10.123:10080/local/get_local_machine",
                data:'',
                type:"GET",
                dataType:"json",
                async: false,
                success:function(json){
                    //  var i=0;
                    //  var nodeName=[];
                    //  var money=0;
                     var proven_data=[];
                     for(i; json.data.length>i; i++){
                        //console.log(1)
                        //console.log("json data",json.data[i].nodeName)
                        nodeName += " "+json.data[i].nodeName
                        // console.log(json.data[i].money);
                        money += json.data[i].money
                        proven_data= json.data[i].proven
                        console.log(proven_data)
                     }
                     
                    var storageStr = proven_data
                    res = storageStr.indexOf("G")
                    console.log("resfunc:",res);
                    if ( res >= 1 ){
                        usedStorage += parseFloat(proven)/1024
                    } else{
                        usedStorage += parseFloat(proven)
                    }

                }
                
            })  
            $("#Number-miners").html(i);
            $("#nodeName").html(nodeName); 
            $("#money").html("$"+money);
            };
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
        function activeLastPointToolip(chart) {
            
            var points = chart.series[0].points;
            chart.tooltip.refresh(points[points.length -1]);
        }
        var chart = Highcharts.chart('container', {
            chart: {
                type: 'spline',
                marginRight: 10,
                events: {
                    load: function () {
                        get_data();
                        var series = this.series[0],
                            chart = this;
                            console.log("resdrawfunc:",res)
                        activeLastPointToolip(chart);
                        setInterval(function () {
                            var x = (new Date()).getTime(), // 当前时间
                                y = res       // 随机值
                            series.addPoint([x, y], true, true);
                            activeLastPointToolip(chart);
                        }, 3000);
                    }
                }
            },
            title: {
                text: '存力24小时实时数据'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: '存力',
                data: (function () {
                    // 生成随机值
                    var data = [],
                        time = (new Date()).getTime(),
                        i;
                    for (i = -5; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }]
    });


            $(window).on('load', function() {
                var tour = new Tour({
                    steps: [{
                        element: "#left-menu",
                        title: "Main Menu",
                        content: "Access the demo pages from sidebar",
                        smartPlacement: true,
                        storage: false
                    }, {
                        element: "button[data-target='#createOrder']",
                        title: "Creative Form",
                        content: "See beautifully designed form in modal",
                        smartPlacement: true,
                        placement: "left",
                        storage: false

                    }, {
                        element: ".close-sidebar",
                        title: "Customizaton Menu",
                        content: "Customize your Layout style",
                        smartPlacement: true,
                        placement: "left",
                        storage: false

                    }]

                });



                // Initialize the tour
                tour.init();

                // Start the tour
                tour.start();
            });
            var gdpData = {
                "AF": 16.63,
                "AL": 11.58,
                "AU": 158.97,
                "IN": 100.97,
            };
            $('#mapwrap2').vectorMap({
                map: 'world_mill',
                regionStyle: {
                    initial: {
                        fill: '#b7c8ff'
                    }
                },
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#b7c8ff', '#3158d8'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                onRegionTipShow: function(e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
            $('#mapwrap').vectorMap({
                map: 'world_mill'
            });
            $('#mapasiawrap').vectorMap({
                map: 'asia_mill',
                regionStyle: {
                    initial: {
                        fill: '#7a99ff'
                    }
                }
            });
            $('#mapafricawrap').vectorMap({
                map: 'africa_mill',
                regionStyle: {
                    initial: {
                        fill: '#ff6262'
                    }
                }
            });
            $('#mapusawrap').vectorMap({
                map: 'us_aea'
            });
            $('#mapindiawrap').vectorMap({
                map: 'in_mill'
            });
            </script>
</body>

</html>