<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>耘存科技</title>
</head>
<body class="fixed-header sidebar-right-close sidebar-left-close">
        
        <!-- page loader ends  -->
        <div class="wrapper h-100 h-sm-auto justify-content-center">
        <!-- main header -->
        <!-- main header -->
    <header class="main-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-auto px-0">
                    <button class="btn pink-gradient btn-icon" id="left-menu"><i class="material-icons">widgets</i></button>
                    <a href="/" class="logo"><img src="/static/img/logo-icon.png" alt=""><span class="text-hide-xs"><b>耘存</b>科技<br><span class="small">- 手机端 -</span></span>
                    </a>
                    <form class="search-header">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col px-0 text-right">
                    <div class="dropdown d-inline-block">
                        <a class="btn header-color-secondary btn-icon dropdown-toggle caret-none" href="#" role="button" id="dropdownmessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">mail_outline</i>
                            <span class="status-number bg-danger text-white">9+</span>
                        </a>
                        <div class="dropdown-menu notification-dropdown align-center arrow-top pt-0" aria-labelledby="dropdownmessage">
                            <div class="arrow pink-gradient"></div>
                            <div class="pink-gradient py-3 text-center">
                                <h5 class="mb-0">消息</h5>
                                <p class="mb-0">最新消息</p>
                            </div>
                            <div class="media new">
                                <figure class="avatar avatar-40">
                                    <img src="/static/img/user3.png" alt="Generic placeholder image">
                                </figure>
                                <div class="media-body">
                                    <h5 class="mt-0">消息1</h5>
                                    <p class="mb-2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                                    <a href="">Reply</a>
                                    <a href="" class="ml-2">View</a>
                                </div>
                            </div>
                            <a href="#" class="media pink-gradient-active new">
                                <figure class="avatar avatar-40">
                                    <img src="/static/img/user3.png" alt="Generic placeholder image">
                                </figure>
                                <div class="media-body">
                                    <h5 class="my-0">消息2</h5>
                                    <small class="text-muted d-block mb-2">2:05 am</small>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                                </div>
                            </a>
                            <a href="#" class="media pink-gradient-active">
                                <figure class="avatar avatar-40">
                                    <img src="/static/img/user2.png" alt="Generic placeholder image">
                                </figure>
                                <div class="media-body">
                                    <h5 class="mt-0">消息3<small class="text-muted float-right">4:05 am</small></h5>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="dropdown d-inline-block">
                        <a class="btn header-color-secondary dropdown-toggle username" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <figure class="userpic"><img src="/static/img/user1.png" alt=""></figure>
                            <h5 class="text-hide-xs">
                                <small class="header-color-secondary"></small>
                                <span class="header-color-primary"></span>
                            </h5>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="dropdownMenuLink">
                            <div class="card">
                                <div class="card-body text-center">
                                    <a href="profile.html">
                                        <figure class="avatar avatar-120 mx-auto my-3">
                                            <img src="/static/img/user1.png" alt="">
                                        </figure>
                                        <h5 class="card-title mb-2 header-color-primary">John McMohan</h5>
                                        <h6 class="card-subtitle mb-3 header-color-secondary">South Africa</h6>
                                    </a>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <button class="btn btn-sm pink-gradient border-0 mb-3">Edit</button>
                                </div>
                            </div>
                            <a class="dropdown-item pink-gradient-active" href="javascript:void(0);" id="open-right-sidebar">
                                <div class="row align-items-center">
                                    <div class="col">
                                        Setting
                                    </div>
                                    <div class="col-auto">
                                        <div class="header-color-secondary ml-2"><i class="material-icons vm">settings</i></div>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider m-0"></div>
                            <a class="dropdown-item pink-gradient-active" href="javascript:void(0);">
                                <div class="row align-items-center">
                                    <div class="col">
                                        5458 <small class="header-color-secondary font-italic">Points Collected</small>
                                    </div>
                                    <div class="col-auto">
                                        <i class="header-color-secondary material-icons vm">local_play</i>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider m-0"></div>
                            <a class="dropdown-item pink-gradient-active" href="signall.ejs">
                                <div class="row align-items-center">
                                    <div class="col">
                                        Logout
                                    </div>
                                    <div class="col-auto">
                                        <div class="text-danger ml-2"><i class="material-icons vm">exit_to_app</i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main header ends -->
        <!-- sidebar left -->
        <div class="sidebar sidebar-left">
            <div class="container has-background-img">
                <figure class="background-img pink-gradient">
                    <img src="/static/img/singer-690117_640.jpg" alt="" class="">
                </figure>
                <div class="media w-100 my-3">
                    <figure class="avatar avatar-40 rounded-circle align-self-start ">
                        <label class="checkbox-user-check">
                            <input type="checkbox">
                            <i class="material-icons">check</i>
                        </label>
                        <img src="/static/img/user1.png" alt="Generic placeholder image">
                    </figure>
                    <div class="media-body mx-70">
                        <h5 class="time-title mb-0 text-white">名字/请登录</h5>
                        <p class="mb-0 text-truncate text-white">邮箱</p>
                    </div>
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">insert_chart_outlined</i> <span>Lotus Dashboard</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>区块链浏览器</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/power" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>算力浏览器</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/pool" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>矿池浏览器</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/poolIntroduce" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>矿池介绍</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/buyPower" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>购买算力介绍</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">filter_none</i> <span>登录/注册</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/signall" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>登录</span></a>
                            <a href="/registall" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>注册</span></a>
                            <a href="/forgetpassword" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>忘记密码</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">insert_emoticon</i> <span>我的</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/poweruser" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>钱包信息</span></a>
                            <a href="/pooluser" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>提交信息</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">description</i> <span>联系我们</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="form_credit_card.ejs" class="nav-link  pink-gradient-active"><i class="material-icons icon"></i> <span>公司信息</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="backdrop"></div>
    </header>
    

    <script src="/static/js/main.js"></script>

</body>
</html>